button{
    height: 50px;
    border-radius: 20px;
}
.card{
    margin: 5px;
    padding: 60px;
    border: 2px solid white;
    -webkit-box-shadow: 10px 9px 23px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 23px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 23px 3px rgba(0,0,0,0.75);
    }

.card{
    margin-top: 150px;
    }
.image{
    background-size: cover;
    width: auto;
    background-image: url('/assets/DSC100162898.jpg');
    background-position: 100% 100%;
    }