<div class="jumbotron image">
  <div class="container">
    <form [formGroup]="AL">
      <div class="row">
          <h3
          style="color: white;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 420px;">
          <b><u>All Registered users</u></b></h3>
        <div class="col-md-6"></div>
        <div class="col-md-6">
          

          <!-- <div class="form-group">
          <input type="number" class="form-control" placeholder="Serach by Id" formControlName="Id">
          <button type="submit" class="btn btn-info" (click)="GetById()">Search</button>
        </div> -->
          <div class="input-group" style="margin-top: 30px; width: 400px;">
            <input type="text" class="form-control" placeholder="Serach by FirmName" formControlName="FirmName" style="margin-left: 100px;">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-info" (click)="GetByName()" style="margin-left: 5px;">Search</button>
            </span>
          </div>

          <table class="table table-striped" style="margin-top: 30px; color: wheat;">
            <thead>
              <tr *ngIf="InfoByName">
                <th>Id</th>
                <th>FirmName</th>
                <th>OwnerName</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Pincode</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of InfoByName">
                <td>{{i.Id}}</td>
                <td>{{i.FirmName}}</td>
                <td>{{i.OwnerName}}</td>
                <td>{{i.Contact}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.Pincode}}</td>
                <td>{{i.Address}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <a href="/master/admin" (click)="GetAllInfo()" style="color: white;"><b><u>Show all Records</u></b></a>
        <!-- <button type="submit" class="btn btn-info" (click)="GetAllInfo()" style="margin-left: 420px;">Get All Sign-Up Records</button> -->
        <table class="table table-striped" style="margin-top: 30px; color: white;">
          <thead>
            <tr>
              <th>Id</th>
              <th>FirmName</th>
              <th>OwnerName</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Pincode</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of AllInfo">
              <td>{{s.Id}}</td>
              <td>{{s.FirmName}}</td>
              <td>{{s.OwnerName}}</td>
              <td>{{s.Contact}}</td>
              <td>{{s.Email}}</td>
              <td>{{s.Pincode}}</td>
              <td>{{s.Address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>