.profile{
    text-align: center;
}
input{
    align-content: center;
    border-radius: 10px;
    padding: 20px; 
    height: 25px; 
    background-color: #f1f1f1;
}
textarea{
    align-content: center;
    border-radius: 10px;
    padding: 20px; 
    background-color: #f1f1f1;  
}
.card{
    margin-top: 75px;
    margin-left: 100px;
    margin: 5px;
    padding: 20px;
    border: 2px solid white;
    -webkit-box-shadow: 10px 9px 23px 3px rgba(0,0,0,0.95);
    -moz-box-shadow: 10px 9px 23px 3px rgba(0,0,0,0.95);
    box-shadow: 10px 9px 23px 8px rgba(116, 114, 114, 0.95);
    }
button{
    height: 60px;
    border-radius: 50px;

}
h1{
    background-color: rgb(18, 155, 247);
    color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
}
input.ng-valid{
    border-color:forestgreen !important;
    border: 1.6px solid;
    border-left-width: 5px;
    border-radius: 14px;
}
input.ng-required{
    border-color:forestgreen !important;
    border: 1.6px solid;
    border-left-width: 5px;
    border-radius: 14px;
}
textarea.ng-valid{
    border-color: forestgreen !important;
    border: 1.6px solid;
    border-left-width: 5px;                                        
    border-radius: 15px;
}
textarea.ng-required{
    border-radius: 15px;
    border: 1.6px solid;
    border-left-width: 5px;
      border-color:forestgreen !important;  
}
.validations{
    color: rgb(194, 6, 6);
    }
.image{
    background-size: cover;
    width: auto;
    background-image: url('/assets/DSC100162898.jpg');
    background-position: 100% 100%;
}