<div class="jumbotron image">
<!--                
<h1 style="text-align: right" class="threeD"><b><i>Welcome to CarSpa</i></b></h1>

        <nav class="navbar navbar-expand bg-dark navbar-dark justify-content-center" style="margin-top: 10px;">
        
            <ul class="navbar-nav">
                <a class="img_logo" src="assets/Images/large2_new.png" width="70px" height="50px" href="#"></a>
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" target="_self">Home</a>
                </li>
        
        
                <li class="nav-item">
                    <a class="nav-link" routerLink="booking" target="_self">Nearest Bookings</a>
            
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" routerLink="/edit" target="_self">Edit Profile</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" routerLink="/changepwd" target="_self">Change Password</a>
                </li>
        
                <li class="nav-item">
                        <a class="nav-link" routerLink="admin" target="_self">Admin</a>
                </li>
        
                <li class="nav-item">
                        <a class="nav-link" routerLink="" target="_self">LogOut</a>
                </li>
        
            </ul>
        </nav> -->



        <div class="row" style="margin-top: 40px;">
                <div class="col-md-4">
                        <img src="/assets/car-servicing-limerick.jpg" width="800" height="450">
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-5" style="text-align: justify;">
                        <h5 style="color: slategrey;">Looking for best car online servicing site !!!.
                                CarSparc – A Complete Car Care Solution at 1 step.
                                It is the best online car service center site.
                                We are here to overwhelm with delight our customers with
                                efficient works that are car servicing, washing, car body repair,
                                denting & painting, A/C repairs any much more car service.</h5>
                        <h5 style="color: slategrey;">
                                The CarSparc has emerged with solution of all car care services which is
                                available 24X7 just a click away. The system includes regular car service,
                                major car repair, washing & detailing or any kind of emergency car repair.

                                The CarSparc aims at making the car service and repair
                                hassle free and time efficient with their night service
                                along with the facility of pick and drop to make our customers’ life easy.

                                We provide service to car owners and service providers through
                                our tech-enabled mobile app & website. It’s a ONE STOP solution for
                                all the car owners who have at some point experienced the anguish
                                because of the lack of transparency and up selling by your car
                                service provider. The idea here is to make the whole experience
                                of owning a car more beautiful!
                        </h5>

                </div>
        </div>
</div>
<div class="container">
        <div class="row">
                <div class="col-md-3">
                        <i class='fas fa-mobile-alt' style='font-size:75px; margin-left: 110px;'></i>
                        <h5 style="margin-top: 10px; text-align: center;"><b>1. Book Appointment</b></h5>
                        <h6 style="color: grey; text-align: center;">
                                Book the appointment date/time as per your convenience. Fill the form or call us anytime
                                anywhere.
                        </h6>


                        <i class='far fa-credit-card' style='font-size:75px; margin-left: 100px; margin-top: 40px;'></i>
                        <h5 style="margin-top: 10px; text-align: center;"><b>2. Provide Quotation</b></h5>
                        <h6 style="color: grey; text-align: center;">
                                Provide quotes to service centers which are affordable to User. Free pick up.
                        </h6>
                </div>
                <div class="col-md-6" style="margin-top: 40px;">
                        <img src="/assets/flow-chart-road.png" width="500" height="300">
                </div>
                <div class="col-md-3">
                                <i class='fas fa-comments' style='font-size:75px; margin-left: 110px;'></i>
                                <h5 style="margin-top: 10px; text-align: center;"><b>3. Stay Updated</b></h5>
                                <h6 style="color: grey; text-align: center;">
                                Get all the updates from our team of your car in form of call/images/videos.
                                </h6>
        
        
                                <i class='fas fa-handshake' style='font-size:75px; margin-left: 110px; margin-top: 40px;'></i>
                                <h5 style="margin-top: 10px; text-align: center;"><b>4. Delivery of Car</b></h5>
                                <h6 style="color: grey; text-align: center;">
                                                We take personal care of customers vehicle service quality. 100% customer satisfaction guaranteed.
                                </h6>
                        </div>
        </div>

</div>
<!-- <router-outlet></router-outlet> -->