<div class="jumbotron image">
<div class="container" style="margin-bottom: 400px;">
    <!-- {{bookingInfo|json}} -->
<!-- <form [formGroup]="BC">  -->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- <div class="card"> -->
          <!-- <div class="button_lg">
          <button type="submit" style="margin-left: 120px;" class="btn btn-info btn-lg" (click)="GetbookingInfo()">View All Nearest Bookings</button>
        </div> -->
          <!-- My JSOn {{bookingInfo|json}} -->
          <h4 style="color: white; margin-left: 150px; margin-bottom: 25px;"><u>Nearest Bookings</u></h4>
        <table class="table table-striped ">
            <thead style="color: white;">
                <tr *ngIf="bookingInfo">
                  <th>Id</th>
                  <th>Car type</th>
                  <th>Service Type</th>
                  <th>Budget</th>
                  <th>Order</th>
                </tr>
            </thead>
            <tbody style="color: white;">
              <tr *ngFor="let s of bookingInfo">
                <td>{{s.Nearest_Booking_Id}}</td>
                <td>{{s.CarType}}</td>
                <td>{{s.ServiceType}}</td>
                <td>{{s.Budget}}</td>
                <td>
                  <button type="submit" class="btn btn-info" (click)="GetMaintbookingInfo(s.Nearest_Booking_Id)">Get Order</button>
                      </td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="col-md-3"></div>
</div>

</div>
</div>


