.i{
    margin-right: 60px;
    font-size: 48px;
}
h1{
    background-color: rgb(18, 155, 247);
    color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
}

.button_lg{
    margin-top: 25px;
}
.image{
    background-size: cover;
    width: auto;
    background-image: url('/assets/DSC100162898.jpg');
    background-position: 100% 100%;
}